{%load static%} 
    <div class="container">
        <div class="row" style="padding-top:10rem;">
            <div class="col-lg-4 col-sm-6">
                <div class="lc-block ratio ratio-1x1">
                    <img style="object-fit:cover" class="img-fluid" src="{% static 'images/hero-image.jpg' %}">
                </div><!-- /lc-block -->
            </div><!-- /col -->
            <div class="col-lg-6 offset-lg-1">
                <div class="lc-block my-2">
                    <div editable="rich">
                        <h2 class="rfs-25">Easy Garage</h2>
                        <span>Vehicle troubles? Log in and find the best garages nearby!</span>
                    </div>
                </div>
                <div class="lc-block my-5">
                    <div editable="rich">
                        <p>Welcome to EGarage! Easily find top-rated garages nearby when your vehicle needs attention. Just log in and let us do the rest!</p>
                    </div>
                </div><!-- /lc-block -->
                <div class="lc-block">
                    <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Get Started >></a>
                </div><!-- /lc-block -->
            </div><!-- /col -->
        </div>
    </div> 
     
      